<bookmark href="file://{{ synology__nas_mountpoint }}">
  <title>NAS</title>
  <info>
    <metadata owner="http://freedesktop.org">
      <bookmark:icon name="folder-cloud"/>
    </metadata>
    <metadata owner="http://www.kde.org">
      <ID>ansible-managed-0</ID>
    </metadata>
  </info>
</bookmark>
